.handleSelectionExtensionIcon {
  background-image: url(https://github.com/encharm/Font-Awesome-SVG-PNG/raw/master/white/png/24/object-group.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.myawesomeextension {
  background-image: url(/img/esomeIcon.png);
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

/* .handleselectionextension {
  background-image: url(https://github.com/encharm/Font-Awesome-SVG-PNG/raw/master/white/png/24/object-group.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
} */

html,
body {
  min-height: 100%;
  height: 100%;
}

.fill {
  height: calc(100vh - 150px);
}

body {
  padding-top: 60px; /* space for the top nav bar */
  margin-right: 30px;
}

#appBuckets {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 100px);
}

#forgeViewer {
  width: 100%;
}

.modelSummaryExtensionIcon {
  background-image: url(https://github.com/encharm/Font-Awesome-SVG-PNG/raw/master/white/png/24/dashboard.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.toolbarNavigatorButton {
  background-image: url(/img/Navigator.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.PCitem {
  cursor: pointer;
  background: none;
  color: #ecbebe;
}

.sharingViewerButton {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.sharingViewerButtonJoin {
  background-image: url(https://github.com/encharm/Font-Awesome-SVG-PNG/raw/master/white/png/24/share-alt.png);
}

.sharingViewerButtonExit {
  background-image: url(https://github.com/encharm/Font-Awesome-SVG-PNG/raw/master/white/png/24/sign-out.png);
}
